[submodule "binary-search-tree"]
	path = binary-search-tree
	url = git@github.com:sh-islam/binary-search-tree.git
[submodule "merged-binary-tree"]
	path = merged-binary-tree
	url = git@github.com:sh-islam/merged-binary-tree.git
